<!DOCTYPE HTML>
<html>

<head>
    <title>注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
</head>

<body class="cbp-spmenu-push">
<div id="page-wrapper">
    <div class="main-page signup-page">
        <h2 class="title1">注册</h2>
        <div class="sign-up-row widget-shadow">
            <h5>个人信息 :</h5>
            <form action="#" method="post">
                <div class="sign-u">
                    <input type="text" name="firstname" placeholder="输入姓名" required="">
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <input type="text" placeholder="输入账户" required="">
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <input type="email" placeholder="邮箱地址" required="">
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>性别* :</h4>
                    </div>
                    <div class="sign-up2">
                        <label>
                            <input type="radio" name="Gender" required="">
                            男
                        </label>
                        <label>
                            <input type="radio" name="Gender" required="">
                            女
                        </label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <h6>登录信息 :</h6>
                <div class="sign-u">
                    <input type="password" placeholder="密码" required="">
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <input type="password" placeholder="确认密码" required="">
                </div>
                <div class="clearfix"> </div>
                <div class="sub_home">
                    <input type="submit" value="注册">
                    <div class="clearfix"> </div>
                </div>
                <div class="registration">
                    已有账户。
                    <a class="" href="login.html">
                        去登录
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <p>&copy; 2018 Glance Design Dashboard. All Rights Reserved | Design by
        <a href="" target="_blank">w3layouts</a>
    </p>
</div>
<!--//footer-->
</div>
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };	`
			function disableOther(button) {
				if(button !== 'showLeftPush') {
					classie.toggle(showLeftPush, 'disabled');
				}
			}
	</script>
</body>
</html>